[Desktop Entry]
Name=StudIP
Exec=studip %U
Terminal=false
Type=Application
Icon=studip
StartupWMClass=StudIP
Comment=A toy StudIP client
Categories=Education;
